.CodeMirror {
  height: 100%;
  font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  &__marker {
    &:after {
      color: #822;
      content: '●';
      font-size: 1.2em;
    }
  }

  &__breakpoints {
    width: .8em;
  }
}
